<div class="nav">
    <button id="nav-button">Filters</button>
    <div id="nav"></div> 
</div>
<div id="curvedarrow"></div>
<div id="display-load" class="nav-instruction">Make selections here</div>
<div id="time-box-annual" class="time-box"></div>
<div id="time-box-monthly" class="time-box"></div>
<div id="info-button">About Viral</div>
<div id="info">
    <div id="info-modal"></div>
</div>

<button id="key-button" class="key-button">Key</button>
<div id="key" class="key"></div>

<div id="mapViralId" />

<div id="loader" />

