<div class="nav">
    <button id="nav-button">Filters</button>
    <div id="nav"></div> 
</div>
<div id="curvedarrow"></div>
<div id="display-load" class="nav-instruction">Make selections here</div>
<div id="time-box"></div>
<div id="info-button">About Viral</div>
<div id="info">
    <div id="info-modal"></div>
</div>

<button id="key-button">Key</button>
<div id="key"></div>

<div id="mapViralId" />

