@import 'base';

#info-button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 20px;
    right: 30px;
    height: 30px;
    width: 100px;

    border: 2px solid white;
    border-radius: 3px;

    font-family: $big-font;
    background: rgba(255, 255, 255, 0.8);

    z-index: 16;

    &:hover {
        cursor: pointer;
    }
}

.active-modal-back {
    z-index: 14;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(35, 22, 74, 0.256);

    animation: back-modal;
    animation-duration: 3s;
}

.active-modal-front {
    z-index: 15;
    height: 400px;
    width: 400px;
    background-color: white;

    animation: front-modal ease-in 3s;
    animation-duration: 3s;

    @keyframes front-modal {
        // 0% {
        //     opacity: 1;
        // }

        // 33% {
        //     opacity: .75;
        // }

        // 66% {
        //     opacity: .4
        // }

        // 100% {
        //     opacity: 0;
        // }
        from {opacity: 0;}
        to {opacity: 1;}
    }
}
