@import 'base';

#key {
    position: absolute;
    margin: .85em;
    padding: .85em;
    bottom: 20px;
    right: 20px;
    height: fit-content;
    width: fit-content;

    background: rgba(255, 255, 255, 0.8);

    h1 {
        text-align: center;
        font-family: $big-font;
    }

    li {
        font-family: $plain-font;
        font-size: 18px;
    }
    .hepA-key::before {
        content: "\2022";
        color: #e55e5e;
        font-weight: bold;
        display: inline-block;
        margin: 0 3px;
    }

    .chlamydia-key::before {
        content: "\2022";
        color: #3bb2d0;
        font-weight: bold;
        display: inline-block;
        margin: 0 3px;
    }

    .hepB-key::before {
        content: "\2022";
        color: #223b53;
        font-weight: bold;
        display: inline-block;
        margin: 0 3px;
    }

    .tb-key::before {
        content: "\2022";
        color: #fbb03b;
        font-weight: bold;
        display: inline-block;
        margin: 0 3px;
    }
}

@media screen and (min-width: 1001px) {
    #key {
        z-index: 2 !important;
    }

    #key-button {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #key {
        z-index: -1;
    }

    #key-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 3;

        padding: .5em;
        height: fit-content;
        width: fit-content;
        bottom: 20px;
        right: 30px;

        border: 2px solid white;
        border-radius: 3px;

        font-family: $big-font;
        background: rgba(255, 255, 255, 0.8);

        &:hover {
            cursor: pointer;
        }
    }
}