$vanilla: rgb(247,246,247);
$beige: rgb(205,205,195);
$sand: rgb(224,207,187);
$stale-white: rgb(254,254,205);
$gold: rgb(203,164,93);
$mustard: rgb(204,146,48);
$deep-yellow: rgb(255,204,6);
$deep-orange: rgb(221,101,0);
$deep-red: rgb(137,0,2);
$ocean-blue: rgb(173,193,217);
$normal-blue: rgb(0,102,224);
$navy-gray: rgb(31,57,87);
$navy: rgb(10,39,73);
$navy-black: rgb(14,31,47);
$deep-purple: rgb(70,33,158);
$midnight: rgb(45,46,69);
$black: rgb(3,11,21);

$newspapar-font: 'Cinzel', serif;
$lab-font: 'Orbitron', sans-serif;
$curvy-font: 'Didact Gothic', sans-serif;
$plain-font: 'News Cycle', sans-serif;
$small-font: 'Saira Condensed', sans-serif;
$big-font: 'Exo 2', sans-serif;

.nav button {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30px;
    width: 50px;
    border: 2px solid white;
    border-radius: 3px;
    font-family: $big-font;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

.nav button:hover {
    cursor: pointer;
}

.nav-reveal {
    position: absolute;
    overflow: scroll;
    top: 50px;
    left: 30px;
    height: 70vh;
    width: 20vw;

    padding: 0 1.5em;
    
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    border-radius: 2px;
    background: $vanilla;
    z-index: 2;
}

.nav-form-reveal {
    list-style: none;
    padding: 0 .85em;
}

.nav-form-reveal li {
    padding: .3em 0;
}

.nav-form-reveal label {
    padding: 0 .85em;
    font-family: $small-font;
}

.nav-title-reveal {
    padding: .85em 0;
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: $navy;
    font-family: $big-font;
}


.nav-conceal, .nav-form-conceal, .nav-title-conceal {
    display: none;
}