@import 'base';

@media only screen and (max-width: 800px)  {
  .time-label {
    display: none !important;
  }
}

#time-box {
    position: absolute;
    bottom: 20px;
    left: 30px;
    height: 90px;
    width: 70vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    border-radius: 2px;
    background: $vanilla;
    z-index: 2;
}

#time-box h3 {
  // display: inline-block;
  text-align: center;
  margin: 0;
  font-family: $curvy-font;
}

.row {
    height: fit-content;
    width: 100%;
}

.phase-container {
    display: flex;
    flex-direction: row;
}

.time-label {
  width: 15%;
  display: inline-block;
  text-align: center;
  font-family: $small-font;
  font-size: 18px;
}

.color {
  background: linear-gradient(to right, rgb(223, 223, 219), rgb(173,193,217), rgb(190, 190, 206), rgb(223, 223, 219), rgb(173,193,217), rgb(190, 190, 206));
  margin-bottom: 5px;
}

#slider {
  width: 95%;
  border-color: transparent;
  color: transparent;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}