@import 'base';

$ocean: rgb(10,0,38);

@media only screen and (max-width: 750px)  {
  .time-label {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .time-label {
    font-size: 15px !important;
  }
}

.time-box {
  position: absolute;
  bottom: 20px;
  left: 30px;
  height: 90px;
  width: 20vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 12px;
  z-index: 2;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.counter {
  font-family: $big-font;
  color: $vanilla;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: $vanilla;
  height: 2px;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: $vanilla;
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  border-color: $vanilla;
  background-color: $ocean;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  border-color: $vanilla;
  background-color: $ocean;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

#time-box-monthly {
  visibility: hidden;
}

#time-box-annual {
  visibility: hidden;
}